<html>
<head>
<title>Socket.io</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
  <style>
    body {
      margin-top: 30px;
    }
    </style>
</head>
<body>

    <div class="container">

        <!-- Main body -->
        {{{body}}}

    </div>

<!-- Set client side socket connection up -->
<script src="socket.js"></script>
</body>
</html>
